
table {
  /* contains table*/
 font-family: arial, sans-serif;
 border-collapse: collapse;
 margin: 1%;
 width: 97%;
height:100%;
padding: 12px;
 background-color: #ffd37a;
}

td, th {
 border: 1px solid #91fff4;
 text-align: left;
 padding: 8px;
}

tr:nth-child(even) {
 background-color: #ffda35;
}
.introDiv { 
border: 9px outset rgb(250, 204, 0);

text-align: center;
width: 97%;  /*Element width and alignment */
height:97%;
padding: 12px;
}
.resturantsDiv { 
 /* contains list/ column layout*/
line-height: 2em;
background-color: rgb(255, 255, 175); 
text-align: left;   
font-family: Verdana;
}
.parksDiv{
  /* contains list/ column layout*/
line-height: 2em;
background-color: #f8e081;    
text-align: left;   
font-family: Verdana;
}
 /* contains list/ column layout*/
.museumsDiv{
line-height: 2em;
background-color: #fff18b;    
text-align: left;   
font-family: Verdana;
}
 /* contains list/ column layout*/
.activitesDiv{
line-height: 2em;
background-color: #ffd37a;    
text-align: left;   
font-family: Verdana;
}

.formDiv{
  /* contains form/ column layout*/
text-align: right;
width: 97%;
height:100%;
padding: 12px;
margin: 10px;
}
.imageDiv{
text-align: center;
}
h1 {
padding-left: 300px;
 background-color: azure;
 margin: 200px;
}

.topnav { 
 /*Header bar*/
 overflow: hidden;
 background-color: #dd970a;
 position: fixed;

}
.topnav a {
 float: left;
 color: #f2f2f2;
 text-align: center;
 padding: 14px 16px;
 text-decoration: none;
 font-size: 17px;
}

.topnav a:hover {
 background-color: #ddd;
 color: rgb(0, 0, 0);
}

.topnav a.active {
 background-color: #50b891;
 color: white;
}
.column {
 float: left;
 width: 50%;
 padding: 10px;
 height: 300px; 
}
footer{
 text-align: right;
 background-color: black;
 color: aliceblue;

}

